<ion-header>
  <ion-toolbar>
    <ion-title>Search new people</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon  slot="icon-only" name="close" color="dark"></ion-icon>
        </ion-button> 
      </ion-buttons>
      

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
      showCancelButton="true"
      cancelButtonText="cancel"
      debounce =250
      placeholder ="Search"
      (ionInput)="searchItems($event)"
      (ionBlur)="recoverUsers()"
      (ionClear)="recoverUsers()">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let user of users_tmp" button="true" (click)="newChat(user)" text-center>
      <ion-label color="primary">{{user.username}} <ion-label color="primary">{{user.email}}</ion-label></ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>